{% extends 'base.html'%}

{% block inf%}

<p><strong>Es un sistema de administración para wisp e isp basado en la nube, que no requiere comprar hardware adicional. Nos integramos a su red de forma transparente por medio de la API de Mikrotik.</strong><br>
    <br>
    Puede admnistrar altas, bajas de clientes. Suspender clientes por falta de pago. Área para finanzas y soporte técnico. Cortes y facturación automática. Puede controlar sus clientes por: Simple Queues, PCQ, Hotspot, PPPoE, DHCP Leases, Amarre IP/Mac e IP Bindings.
    </p>
</div>


<div>
    <h3 class="header">Al tener su cuenta con nosotros, no necesita comprar y configurar un servidor. En menos 5 minutos tiene funcionando su sistema</h3>
    <ul class="bloc">
        <li>
            <p>Puede configurar las fechas de corte, para suspender a un cliente</p>
          
        </li>
        <li>
            
           
        </li>
    </ul>

</div>
{%endblock%}



